@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.15 0 0);
  --border: oklch(0.9 0 0);

  --primary: oklch(0.55 0.22 250);
  --text--secondary: oklch(0.474 0.006 286.033);
  --text--info: oklch(0.694 0.006 286.033);
}

.dark {
  --background: oklch(0.1 0 0);
  --foreground: oklch(0.95 0 0);
  --border: oklch(0.3 0 0);

  --primary: oklch(0.7 0.19 250);
  --text--secondary: oklch(0.667 0.001 286.375);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-text-secondary: var(--text--secondary);
  --color-text-info: var(--text--info);

  --font-sans: 'Inter', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  * {
    @apply border-border outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
