@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.15 0 0);
  --border: oklch(0.9 0 0);

  --primary: oklch(0.55 0.22 250);
}

.dark {
  --background: oklch(0.1 0 0);
  --foreground: oklch(0.95 0 0);
  --border: oklch(0.3 0 0);

  --primary: oklch(0.7 0.19 250);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

@layer base {
  * {
    @apply border-border outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
