* {
  outline: none;
}

/* 添加自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: oklch(0.85 0 0);
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(0.6 0 0);
}

.dark ::-webkit-scrollbar-thumb {
  background: oklch(0.3 0 0);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: oklch(0.4 0 0);
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}
